<meta charset="utf-8">
<ion-tabs class="tabs-icon-top tabs-stable">

    <!-- Dashboard Tab -->
    <ion-tab title="训练" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/train">
        <ion-nav-view name="tab-train"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="本地" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/local">
        <ion-nav-view name="tab-local"></ion-nav-view>
    </ion-tab>

    <ion-tab title="云端" icon-off="ion-ios-cloud-outline" icon-on="ion-ios-cloud" href="#/tab/history">
        <ion-nav-view name="tab-history"></ion-nav-view>
    </ion-tab>

    <!--<ion-tab title="分析" icon-off="ion-stats-bars" icon-on="ion-stats-bars" href="#/tab/features">
        <ion-nav-view name="tab-features"></ion-nav-view>
    </ion-tab>-->

    <ion-tab title="识别" icon-off="ion-ios-eye-outline" icon-on="ion-ios-eye" href="#/tab/mySteps">
        <ion-nav-view name="tab-mySteps"></ion-nav-view>
    </ion-tab>
    <!-- Account Tab -->
    <ion-tab title="我" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>


</ion-tabs>
